<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <title>test</title>
</head>
<body>
    
    <form name="testFile">
        <input type="file" name = "lalala"> 
        <input type="text" name = "fileName" placeholder="Введите названия файла"> 
        <button type="submit">send</button>
    </form>

    <script src="/js/main.js"></script>
</body>
</html>