<!DOCTYPE html>
<html>
  <head>
    <title>local storage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <h2>Tovar1</h2>
      <button class="btn" type="button" data-id ="gitara" >+</button>
      <button class="btnDel" type="button" data-id ="gitara">-</button>
    </div>

    <div>
      <h2>Tovar2</h2>
      <button class="btn" type="button" data-id ="barabani"  >+</button>
      <button class="btnDel" type="button" data-id ="barabani" >-</button>
    </div>

    <div>
      <h2>Tovar3</h2>
      <button class="btn" type="button" data-id ="acustik gitara"> +</button>
      <button class="btnDel" type="button" data-id ="acustik gitara">-</button>
    </div>

    <div>
      <h2>Tovar4</h2>
      <button class="btn" type="button" data-id ="saksofon">+</button>
      <button class="btnDel" type="button" data-id ="saksofon">-</button>
    </div>

    <script src="js/main.js"></script>
  </body>
</html>
