<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/dishes.css">
    <title>Cafe ProCode</title>
</head>
<body>
    <header>
        <a class="header_a" href="/"><img class="header_img" src="/public/img/logoHeader.jpg"></a>
        <h2 class="caffe_text">Cafe</h2>
    </header>

    <section class="header_section">

        <div class="cell">
            <div class="cell_img">
                <img  class = "menu_img" src="<%=images%>">
            </div>
            <div class="cell_h">
                <h2><%= title %></h2>
            </div>
            <div class="cell_block_p">
                <p class="cell_p"><%= content %></p>
            </div>
            
        </div>


    </section>
        
</body>
</html>