<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Cafe ProCode</title>
</head>
<body>

    <header>
        <a class="header_a" href="/"><img class="header_img" src="/public/img/logoHeader.jpg"></a>
        <h2 class="caffe_text">Cafe</h2>
    </header>

    <section class="header_section">

       <div class="container">
            
            <div class="first_text"> 
                <h1 class="section_first_text">Cafe for all programmers and IT lovers</h1>
            </div>
        
            <div class="meny_cell">

                <p class="meny_cafe_text">Menu :</p>

                    <ul class="ul_meny">
                        <a class='button_a' href="/meny/latte"> 
                            <li>Latte</li>
                        </a>
                        <a class='button_a' href="/meny/BlackTea">
                            <li>Black Tea</li>
                        </a>
                        <a class='button_a' href="/meny/GreanTea">
                            <li>Grean Tea</li>
                        </a>
                        <a class='button_a' href="/meny/Mohito">
                            <li>Mohito</li>
                        </a>
                        <a class='button_a' href="/meny/Sendvich">
                            <li>Sendvich</li>
                        </a>
                        <a class='button_a' href="/meny/Doner">
                            <li>Doner</li>
                        </a>
                        <a class='button_a' href="/meny/Mazik">
                            <li>(Сhef Dish)Jareniy mayonez</li>
                        </a>
                        
                    </ul>

            </div>
       </div> <!-- container-->



    </section>
        
</body>
</html>